@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #472468;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav p {
  color: #fafafa;
}

main {
  display: inline-flex;
  width: 100%;
}

#logo {
  height: 100px;
  margin-left: 50px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo p {
  padding-left: 150px;
}

nav p {
  font-size: 25px;
  margin-right: 40px;
}

.acoes {
  display: inline-flex;
  justify-content: flex-start;
  width: 200px;
  height: 400px;
  padding-left: 30px;
  padding-top: 10px;
}

.acoes li {
  list-style: none;
  padding-top: 10px;
}

.acoes a {
  text-decoration: none;
  color: #fafafa;
  font-weight: bolder;
}

#linha {
  width: 100%;
  height: 1px;
  background-color: #fafafa;
}

#linhaVertical {
  width: 1px;
  height: 87.1vh;
  background-color: #fafafa;
  margin-left: 200px;
  position: absolute;
}

#usuario {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFBD59;
  height: 70px;
  width: 200px;
  color: #472468;
}

#usuario a {
  padding-left: 20px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  font-weight: bolder;
  text-decoration: none;
  color: #472468;
}

#nomeUsuario {
  font-weight: 900;
  padding-left: 20px;
  color: #472468;
  font-weight: bold;
}

#containerCadastro {
  width: 100%;
}

#cadastro {
  margin-top: 20px;
  margin-left: 390px;
  padding: 20px 0 35px 35px;
  width: 650px;
  background-color: #674a85;
  border-radius: 10px;
  flex-wrap: wrap;
  height: 500px;
  gap: 10px;
}

#cadastro input{
    border-radius: 5px;
    border: 0px;
}

#cadastro input:hover{
    cursor: pointer;
}

#cadastro{
  display: block;
}

label{
    color: #fafafa;
    font-size: 20px;
}


#voltarParaLista {
  background-color: #674a85;
  padding: 15px;
  width: 650px;
  height: 60px;
  display: inline-flex;
  margin-left: 390px;
  margin-top: 20px;
  border-radius: 10px;
  gap: 20px;
  align-items: center;
}

.btn-voltar{
  border: none;
  background-color: #FFBD59;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  color: #472468;
  font-weight: bold;
  margin-top: 3px;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

.btn-voltar:hover{
    cursor: pointer;
}

.btn-voltar a{
    list-style: none;
    text-decoration: none;
}

.return{
    width: 30px;
    margin-left: 18px;
}

#error-msg {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
}

form, input, label{
  display: block;
  color: #fafafa;
  padding-top: 10px;
  text-align: left;
}

.inputs {
  width: 550px;
  border-radius: 5px;
  border: none;
  height: 30px;
  color: #472468;
  font-size: 25px;
  padding-bottom: 10px;
}

.botaoCadastro{
  color: #472468;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  background-color: #FFBD59;
  width: 580px;
  text-align: center;
  margin-top: 7px;
}

.botaoCadastro:hover {
  cursor: pointer;
  background-color: #f8de6c;
}

.add-imgs{
  display: flex;
  gap: 20px;
}