@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #472468;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav p {
  color: #fafafa;
}

main {
  display: inline-flex;
  width: 100%;
}

#logo {
  height: 100px;
  margin-left: 50px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo p {
  padding-left: 150px;
}

nav p {
  font-size: 25px;
  margin-right: 40px;
}

.acoes {
  display: inline-flex;
  justify-content: flex-start;
  width: 300px;
  height: 400px;
  padding-left: 30px;
  padding-top: 10px;
}

.acoes li {
  list-style: none;
  padding-top: 10px;
}

.acoes a {
  text-decoration: none;
  color: #fafafa;
  font-weight: bolder;
}

#linha {
  width: 100%;
  height: 1px;
  background-color: #fafafa;
}

#linhaVertical {
  width: 1px;
  height: 100vh;
  background-color: #fafafa;
  margin-left: 200px;
  position: fixed;
}

#usuario {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFBD59;
  height: 70px;
  width: 200px;
  color: #472468;
}

#usuario a {
  padding-left: 20px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  font-weight: bolder;
  text-decoration: none;
  color: #472468;
}

#nomeUsuario {
  font-weight: 900;
  padding-left: 20px;
}

#containerCadastro {
  display: block;
  height: 200px;
}

#cadastro {
  margin-top: 20px;
  margin-left: 120px;
  padding: 35px 0 35px 35px;
  width: 800px;
  background-color: #674a85;
  border-radius: 10px;
  flex-wrap: wrap;
  height: 150px;
}

#voltarParaLista {
  background-color: #674a85;
  padding: 15px;
  width: 800px;
  height: 50px;
  display: inline-flex;
  margin-left: 120px;
  margin-top: 20px;
  border-radius: 10px;
}

#produtoadd {
  background-color: #674a85;
  padding: 15px;
  width: 800px;
  height: 50px;
  display: inline-flex;
  margin-left: 120px;
  margin-top: 20px;
  border-radius: 10px;
}

#cabecalhoListaProdutos {
  background-color: #472468;
}

#containerCadastro {
  width: 100%;
}

.nav-adm-produto{
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #674a85;
  gap: 20px;
  margin-top: 20px;
  position: absolute;
  margin-left: 8.5%;
  width: 900px;
  height: 80px;
  border-radius: 20px;
}

.nav-adm-produto a{
  text-decoration: none;
  list-style: none;
  color: #472468;
}

.dados {
  background-color: #FFBD59;
  padding: 8px;
  border-radius: 5px;
  color: #472468;
  font-weight: bold;
  font-size: 20px;
}

.dados:hover {
  cursor: pointer;
}

.icon-m {
  width: 30px;
  margin-left: 20px;
}

.nav-produtos {
  font-size: 20px;
  color: #fafafa;
  list-style: none;
  padding: 20px;
  width: 170px;
}

.nav-produtos-dados {
  background-color: #472468;
  margin: 0.5px 10px 0px 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 880px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #472468;
  height: 50px;
}

td {
  height: 100px;
  width: 150px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


.xbox {
  width: 150px;
  border-radius: 10px;
  margin-right: 50px;
}

.acoes-img {
  width: 20px;
}

.submit-customizado {
  border: none;
  padding: 0; 
  background: none; 
  cursor: pointer;
}

.dados-acoes{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  font-size: 18px;
  color: #fafafa;
  gap: 101px;
  margin-left: 90px;
}



.categorias-produtos {
  margin-right: 40px;
}


.dados-produtos{
  margin-top: 130px;
  margin-left: 15%;
  background-color: #674a85;
  width: 900px;
  height: 520px;
  border-radius: 30px;
  overflow-y: auto;
}

.dados-produtos::-webkit-scrollbar{
  width: 0px;
  background-color: transparent;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #472468;
  height: 50px;
}

td {
  height: 100px;
  width: 150px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

tbody {
  color: #fafafa;
  font-weight: bold;
}

.icones{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  gap: 10px;
}

.descrever{
  width: 100px;
  text-overflow: ellipsis;
}

.buscar-dados{
  padding: 8px;  
  font-size: 20px;
  border-radius: 5px;
  width: 150px;
} 

#error-msg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  margin-left: 140px;
}