@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  background-color: #472468;
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

header {
  border-bottom: 1px solid #fafafa;
}

header nav p {
  color: #fafafa;
}

main {
  display: flex;
  width: 100%;
  height: 85%;
}

#logo {
  height: 100px;
  margin-left: 50px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav p {
  font-size: 25px;
  margin-right: 40px;
}

.side-bar {
  width: 200px;
  height: 100%;
  border-right: 1px solid #fafafa;
}

.side-bar li {
  list-style: none;
  padding-top: 10px;
}

.side-bar a {
  text-decoration: none;
  color: #fafafa;
  font-weight: bolder;
}

#acoes {
  display: inline-flex;
  justify-content: flex-start;
  width: 300px;
  height: 400px;
  padding-left: 30px;
  padding-top: 10px;
}

#usuario {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFBD59;
  height: 70px;
  width: 200px;
  color: #472468;
}

#usuario a {
  padding-right: 30px;
  display: flex;
  align-items: center;
  font-weight: bolder;
  text-decoration: none;
  color: #472468;
}

#nomeUsuario {
  font-weight: 900;
  padding-left: 20px;
  color: #472468;
  font-weight: bold;
}

#produtos {
  width: 85%;
}

#containerCadastro {
  display: block;
  height: 200px;
}

#cadastro {
  margin-top: 20px;
  margin-left: 120px;
  padding: 35px 0 35px 35px;
  width: 800px;
  background-color: #674a85;
  border-radius: 10px;
  flex-wrap: wrap;
  height: 150px;
}

#voltarParaLista {
  background-color: #674a85;
  padding: 15px;
  width: 800px;
  height: 50px;
  display: inline-flex;
  margin-left: 120px;
  margin-top: 20px;
  border-radius: 10px;
}

#produtoadd {
  background-color: #674a85;
  padding: 15px;
  width: 800px;
  height: 50px;
  display: inline-flex;
  margin-left: 120px;
  margin-top: 20px;
  border-radius: 10px;
}

#cabecalhoListaProdutos {
  background-color: #472468;
}

#containerCadastro {
  width: 100%;
}

#error-msg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
}

#container-top-table {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
}

.nav-adm-produto {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  gap: 20px;
  background-color: #674a85;
  margin-top: 30px;
  width: 90%;
  height: 80px;
  border-radius: 20px;
}

.nav-adm-produto a {
  text-decoration: none;
  list-style: none;
}

#tabela-produtos {
  display: flex;
  background-color: #674a85;
  width: 90%;
  color: #fafafa;
  border-radius: 30px;
  height: 470px;
  overflow-y: auto;
  margin-top: 20px;
  margin-left: 65px;
}

#tabela-produtos::-webkit-scrollbar {
  width: 0px; /* Largura da barra de rolagem */
  background-color: transparent;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #472468;
  height: 50px;
}

td {
  height: 100px;
  width: 150px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

td img {
  width: 150px;
  height: 150px;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  font-weight: bolder;
}

tbody {
  margin-top: 50px;
}

#container-editar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-img {
  width: 20px;
  height: 20px;
  margin-top: 60px;
}

.editar {
  display: flex;
  gap: 5px;
}

.dados {
  background-color: #FFBD59;
  padding: 8px;
  border-radius: 5px;
  color: #472468;
  font-weight: bold;
  font-size: 20px;
}

.dados:hover {
  cursor: pointer;
}


.icon-m {
  width: 30px;
  margin-left: 20px;
}

.section {
  width: 100%;
  height: 100%;
}

.nav-produtos {
  font-size: 20px;
  color: #fafafa;
  padding: 20px;
  width: 300px;
}

.dados-geral {
  background-color: #472468;
  margin: 0.5px 10px 0px 10px;
  position: fixed;
  width: 80%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}


#nome-produto {
  margin-left: -100px;
  width: 100px;
  word-break: break-all;
  margin-right: -40px;
}

.qtd {
  margin-left: 25px;
}

.edit-viw {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 100%;
}

.edit-viw img {
  width: 20px;
  height: 20px;
}


.buscar-dados {
  padding: 8px;
  font-size: 20px;
  border-radius: 5px;
  width: 150px;
}


.btn-l {
  background-color: transparent;
  border: none;
}