@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #472468;
    color: #fafafa;
    font-size: 20px;
}

main {
    height: 100vh;
}

ol {
    padding-left: 50px;
}

#ordenar-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 10px;
}

#ordenar-imagem button {
    margin-top: 20px;
}

#botoes {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#error-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.salvar-ordem {
    border: none;
    background-color: #FFBD59;
    padding: 10px;
    border-radius: 5px;
    color: #472468;
    font-weight: bold;
}

.salvar-ordem:hover {
    cursor: pointer;
}

.imagem-produto {
    width: 100px;
    height: 100px;
}

.botao-excluir img {
    width: 20px;
    height: 20px;
}

.botao-excluir button {
    height: 30px;
    width: 30px;
}

.input-ordem {
    width: 30px;
    height: 30px;
    text-align: center;
}

.content {
    text-align: center;
    background-color: #674a85;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
}